*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255, 245, 238);
    width: 100%;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
.calculator{
    background: rgb(243, 207, 198);
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
button{
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px rgba(0,0,0, 0.9);
    transition: background-color 0.3s ease;
}
button:hover{
    background: rgb(255, 245, 238)
}
.equal{
     grid-row: span 3;
}
#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5) inset;
}